.cardapio{
    width:100%;
    min-height:100vh;
    padding:50px 30px;
    box-sizing:border-box;
}

.titulo-cardapio{
    color:white;
    text-align:center;
    margin-bottom:35px;
}

.titulo-cardapio h2{
    font-family:"gunters medium";
    font-size:32px;
}

.titulo-cardapio span{
    font-size:12px;
    font-family:"Montserrat";
}

.dia-cardapio{
    margin-bottom:25px;
}

.cabecalho-dia{
    background:white;
    color:#024B7E;
    padding:8px 15px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:8px;
    font-family:"gunters medium";

    span {
        font-family: "Gunters Medium";
    }
}

table{
    width: 100%;
    border-collapse: separate; /* em vez de collapse */
    border-spacing: 0;
    color: white;
    font-family: "Montserrat";
    font-size: 13px;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden; /* corta os cantos internos */
}

td{
    padding: 10px;
    vertical-align: top;
    border: 1px solid white; /* fica só embaixo/direita das células internas */
    border-top: none;
    border-left: none;
}

td:first-child{
    width: 130px;
    font-family: "gunters medium";
    border-left: none; /* já tem a borda externa da tabela */
}

tr:first-child td{
    border-top: none;
}